doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/stylesheets/bootstrap.css", rel="stylesheet")
  body
    .container
        block content

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
  script(src="/javascripts/bootstrap.js")
  script(src="/javascripts/weather-script.js")